<header class="header-index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-burger" data-toggle="modal" data-target="#myModal">
                    &#9776;
                </button>
            </div>
            <!-- start navbar modal -->
            <div class="modal left" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Menu</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body modal-nav">
                            <nav id="" class="display-block-nav">

                                <div class="sidebar-sticky">
                                    <ul class="nav flex-column">
                                        <div class="accordion accordion-nav" id="accordionExample">
                                            <li class="nav-item text-nav-langage">
                                                <i class="fa fa-globe" aria-hidden="true"></i>
                                                Langages
                                                </a>
                                            </li>

                                            <ul>
                                                <a href="/"> <li> Tous les langages </li></a>
                                                {% for language in languages|slice(0, 5) %}

                                                    <a href="/language/language/{{ language.id }}">
                                                        <li>{{ language.name }}</li>
                                                    </a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="accordion accordion-nav" id="accordionExample">
                                            <li class="nav-item text-nav">
                                                <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                                   data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#">
                                                    <i class="fa fa-book" aria-hidden="true"></i>
                                                    Autres langages
                                                </a>
                                            </li>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                                 data-parent="#accordionExample">
                                                <div class="card-body language-main-list">
                                                    <ul>
                                                        {% for language in languages|slice(5, 10000) %}
                                                            <a href="/language/language/{{ language.id }}">
                                                                <li>{{ language.name }}</li>
                                                            </a>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <li class="nav-item text-nav">
                                            <a class="nav-link" data-toggle="modal" data-target="#registration">
                                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                                Inscrivez vous
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end navbar modal -->
            <div class="col-2">
            <a href="/">
                <div class="animated-logo"></div>
            </a>
            </div>
            <div class="col-8 align-items-center header-icons">
                <div class="d-flex">
                    <div class="nav-icons">
                        <div class="btn">
                            <a href="/" class="home-icon"> <i class="fas fa-home"></i></a>
                        </div>
                    </div>
                    <div class="nav-icons">
                        {% if (session.user) %}
                            <div class="btn" id="UserAndLogoutDropDown" data-toggle="dropdown">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="dropdown-menu" aria-labelledby="UserAndLogoutDropDown">
                                {% if session.user.admin == 1 %}
                                    <a class="dropdown-item" href="/MySpace/adminAccess">Admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="/MySpace/main/{{ session.user.id }}">Mon Compte</a>
                                <a class="dropdown-item" href="/MySpace/logout/'">Se déconnecter</a>
                            </div>
                        {% else %}
                            <div class="btn" data-toggle="modal" data-target="#login">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    {% include '/Home/_login.html.twig'%}

                                </div>
                            </div>

                            <div class="modal fade" id="registration" tabindex="-1" role="dialog"
                                 aria-labelledby="registrationTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">

                                {% include '/Home/_register.html.twig' %}

                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid research-container">
        <div class="row research-block">
            <div class="col-8 offset-2 col-md-6 offset-md-3">
                <div>
                    <form action="/" method="post" class="loupeandbarre">
                        <label for="cheat-search"></label>
                        <input type="search" class="search-bar" id="cheat-search" name="cheat-search" placeholder="Entrez votre recherche">
                        <button class="btn button-loupe"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                {% if search_without_result %}
                    Aucun résultat ne correspond à votre recherche, veuillez réessayez un autre mot clé.
                {% endif %}
            </div>
        </div>
    </div>
</header>