{% block postContent %}
    <div class="row d-flex justify-content-between m-3">

        {% set fav_array = [] %}
        {% for fav in favorite %}
            {% set fav_array = fav_array|merge( [fav.id] ) %}
        {% endfor %}

        {% for one_post in tableToUse|slice(0,6) %}

            {# for index tables #}

            {% if one_post.post_unique_id in fav_array %}
                {% set startype = "fas fa-star"%}
            {% else %}
                {% set startype = "far fa-star"%}
            {% endif %}

            {% if one_post.post_id in fav_array %}
                {% set startype = "fas fa-star"%}
            {% endif %}
            {# for mayspace table #}

            <div>
                <div class="card m-1 post-index" style="width: 18rem;" data-toggle="modal" data-target="#exampleModal{{ one_post.post_unique_id }}">
                    <div class="card-body">
                        <div class="container card-header ">
                            <div class="row d-flex ">{{ one_post.title }}
                                {%  if session.userid %}
                                <div class="text-warning"><i class="{{ startype }}" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}"></i></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-text post-content-short">
                          {{ one_post.content|raw }}
                        </div>
                        <div class="container m-3 7 ">
                            <div class="row d-flex justify-content-between">
                                <div class="border rounded-circle p-1 bg-info"><i class="{{ one_post.icon }}"></i></div>
                                {% set postid = one_post.post_unique_id %}

                                    {%  if session.userid %}
                                        <div>

                                            <i class="far fa-thumbs-up text-success {{  likesAndDislikes[postid][0] == 1 ? 'fas' : '' }}"
                                                data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}">
                                            </i>
                                        </div>
                                    <div>
                                        <i class="far fa-thumbs-down text-danger {{  likesAndDislikes[postid][1] == 1 ? 'fas' : '' }}" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}">
                                        </i>
                                    </div>
                                {% endif %}

                                <div class="popularity badge badge-warning">{{ one_post.popularity }}</div>
                            </div>
                        </div>
                    </div>
                   <div class="card-footer text-muted">
                       Date de creation : {{ one_post.creation_at }}
                   </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal{{ one_post.post_unique_id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content card">
                        <div class="card-body">
                            <div class="container card-header border border-dark rounded ">
                                <div class="row d-flex justify-content-between">{{ one_post.title }}
                                    {%  if session.userid %}
                                    <div class="text-warning"><i class="{{ startype }}" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid}}"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-text border border-dark rounded">
                                {{ one_post.content|raw }}
                            </div>
                            <div class="container m-3 7 ">
                                <div class="row d-flex justify-content-between">
                                    <div class="border rounded-circle p-1 bg-info"><i class="{{ one_post.icon }}"></i></div>
                                    {%  if session.userid %}
                                        <div>
                                            <i class="far fa-thumbs-up text-success {{  likesAndDislikes[postid][0] == 1 ? 'fas' : '' }}"
                                               data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}">
                                            </i>
                                        </div>
                                        <div>
                                            <i class="far fa-thumbs-down text-danger {{  likesAndDislikes[postid][1] == 1 ? 'fas' : '' }}"
                                               data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}">
                                            </i>
                                        </div>
                                    {% endif %}
                                    <div class="badge badge-warning">{{ one_post.popularity }}</div>
                                </div>
                            </div>
                            {%  if session.userid %}
                                <form action="/home/index" method="post">
                                    <input type="hidden" name="postid" value="{{ one_post.post_unique_id }}">
                                    <textarea name="comment" id="comment" cols="23" rows="3"></textarea>
                                    <button type="submit" class="btn btn-info">Comment</button>
                                </form>
                            {% endif %}

                            <div class="comment-accordion" id="accordionExample">
                                    <a class="btn btn-link btn-block btn-comment-toggle" type="button" data-toggle="collapse"
                                       data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#">
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                           Commentaires
                                    </a>
                                </li>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body language-main-list">
                                        <ul class="ul-comment">
                                            {% for comment in all_comments %}
                                                {% if comment.post_id == one_post.post_unique_id %}




                                                    <li class="li-comment">
                                                        Créé le: {{comment.creation_at}} </br> {{comment.content}}
                                                    </li>


                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Date de creation : {{ one_post.creation_at }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- end of card container -->
    </div>
{% endblock %}