{% block postContent %}
    <div class="row d-flex justify-content-between m-3">
        {% set fav_array = [] %}
        {% for fav in favorite %}
            {% set fav_array = fav_array|merge( [fav.post_id] ) %}
        {% endfor %}


        {% for one_post in tableToUse|slice(0,6) %}

            {# for index tables #}

            {% if one_post.post_unique_id in fav_array %}
                {% set startype = "fas fa-star"%}
            {% else %}
                {% set startype = "far fa-star"%}
            {% endif %}

            {% if one_post.post_id in fav_array %}
                {% set startype = "fas fa-star"%}
            {% endif %}
            {# for mayspace table #}



            <div>
                <div class="card m-1" style="width: 18rem;">
                    <div class="card-body">
                        <div class="container card-header ">
                            <div class="row d-flex ">{{ one_post.title }}
                                {%  if session.userid %}
                                <div class="text-warning"><i class="{{ startype }}" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}"></i></div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card-text post-content-short">
                          {{ one_post.content|raw }}
                        </div>
                            <div class="btn btn-info" data-toggle="modal" data-target="#exampleModal{{ one_post.post_unique_id }}"><i class="fas fa-eye"></i></div>
                        <div class="container m-3 7 ">
                            <div class="row d-flex justify-content-between">
                                <div class="border rounded-circle p-1 bg-info"><i class="{{ one_post.icon }}"></i></div>
                                {% set postid = one_post.post_unique_id %}
                                    <div>
                                        <i class="far fa-thumbs-up text-success {{  likesAndDislikes[postid][0] == 1 ? 'fas' : '' }}"
                                            data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}">
                                        </i>
                                    </div>
                                <div><i class="far fa-thumbs-down text-danger {{  likesAndDislikes[postid][1] == 1 ? 'fas' : '' }}" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}"></i></div>
                                <div class="badge badge-warning">{{ one_post.popularity }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Date de creation : {{ one_post.creation_at }}
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{ one_post.post_unique_id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content card">
                        <div class="card-body">
                            <div class="container card-header border border-dark rounded ">
                                <div class="row d-flex justify-content-between">{{ one_post.title }}
                                    {%  if session.userid %}
                                    <div class="text-warning"><i class="{{ startype }}" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid}}"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-text border border-dark rounded">
                                {{ one_post.content|raw }}
                            </div>
                            <div class="container m-3 7 ">
                                <div class="row d-flex justify-content-between">
                                    <div class="border rounded-circle p-1 bg-info"><i class="{{ one_post.icon }}"></i></div>
                                    <div><i class="far fa-thumbs-up text-success" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}"></i></div>
                                    <div><i class="far fa-thumbs-down text-danger" data-postid="{{ one_post.post_unique_id }}" data-userid="{{ session.userid }}"></i></div>
                                    <div class="badge badge-warning">{{ one_post.popularity }}</div>
                                </div>
                            </div>
                            <div class="text-info d-flex justify-content-end"><i class="far fa-comment"></i></div>
                            <div><textarea name="" id="" cols="23" rows="3"></textarea></div>
                            <button type="button" class="btn btn-info">Comment</button>
                        </div>
                        <div class="card-footer text-muted">
                            Date de creation : {{ one_post.creation_at }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- end of card container -->
    </div>
{% endblock %}